.container{
    height: auto;
    height: 33.3%;
    width: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}   
.container_secundario{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    height: 90%;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.container_tittle{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: none;
    background-image: linear-gradient(
  180deg,hsl(0deg 0% 42%) 0%,hsl(344deg 0% 44%) 5%,hsl(344deg 0% 46%) 10%,hsl(344deg 0% 49%) 14%,hsl(344deg 0% 51%) 19%,hsl(344deg 0% 53%) 24%,hsl(344deg 0% 55%) 29%,hsl(344deg 0% 58%) 33%,hsl(344deg 0% 60%) 38%,hsl(344deg 0% 63%) 43%,hsl(344deg 0% 65%) 48%,hsl(344deg 0% 68%) 52%,hsl(344deg 0% 70%) 57%,hsl(344deg 0% 72%) 62%,hsl(344deg 0% 75%) 67%,hsl(344deg 0% 77%) 71%,hsl(344deg 0% 80%) 76%,hsl(344deg 0% 82%) 81%,hsl(344deg 0% 85%) 86%,hsl(344deg 0% 88%) 90%,hsl(344deg 0% 90%) 95%,hsl(0deg 0% 93%) 100%
);
    min-height: 8rem;
    width: 100%;
    display: flex;
    align-items: center;
}

.titulo{
    text-align: center;
    width: 100%;
}

.container_img{
    align-items: center;
    justify-content: center;
    display: flex;
    background-image: linear-gradient(
  0deg,hsl(0deg 0% 42%) 0%,hsl(344deg 0% 44%) 5%,hsl(344deg 0% 46%) 10%,hsl(344deg 0% 49%) 14%,hsl(344deg 0% 51%) 19%,hsl(344deg 0% 53%) 24%,hsl(344deg 0% 55%) 29%,hsl(344deg 0% 58%) 33%,hsl(344deg 0% 60%) 38%,hsl(344deg 0% 63%) 43%,hsl(344deg 0% 65%) 48%,hsl(344deg 0% 68%) 52%,hsl(344deg 0% 70%) 57%,hsl(344deg 0% 72%) 62%,hsl(344deg 0% 75%) 67%,hsl(344deg 0% 77%) 71%,hsl(344deg 0% 80%) 76%,hsl(344deg 0% 82%) 81%,hsl(344deg 0% 85%) 86%,hsl(344deg 0% 88%) 90%,hsl(344deg 0% 90%) 95%,hsl(0deg 0% 93%) 100%
);
    width: 100%;
    height: 100%;
}

.imagen{
    object-fit: cover;
    max-height: 250px;
    width: auto;
}

.container_text{
    color: black;
    min-height: 150px;
    max-height: 150px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.descripcion{
    font-weight: bolder;
    font-size: 15px;
    text-align: center;
}






